﻿@{
    Layout = null;
}
@section scripts{
    @Scripts.Render("~/bundles/Login")    
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
       <div class="starter-template">
           <h1>Login</h1>
           <form data-bind="submit: ingresar">
               <div class="form-group">
                   <label class="form-control">Nick</label>
                   <input type="text" class="form-control" placeholder="user" name="inputNick" id="inputNick" data-bind="value: nick"/>
               </div>
               <div class="form-group">
                   <label class="form-control">Nick</label>
                   <input class="form-control" placeholder="Contrasena" type="password"
                        name="inputContrasena" id="inputContrasena" data-bind="value: contrasena"
                   />
               </div>
               <div class="form-control alert-success" data-bind="if: error">
                   <strong>Credenciales erroneas !</strong>
               </div>
               <div class="form-group">
                   <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
               </div>
           </form>
       </div>
    </div>
</body>
</html>
