﻿@section scripts{
    @Scripts.Render("~/bundles/ViewModelEventos")
}
@{
    ViewBag.Title = "Calendario";
}

<h1>Boletos Eventto</h1>

<div class="container">
    <h2>Proximos</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <img src="https://3.bp.blogspot.com/-jrYsBrw3oQ0/UjjdbCH5X1I/AAAAAAAAM7M/Zvr9tPJar58/s1600/Descargar+pack+fondos+abstractos++%2528190%2529.jpg" alt="Los Angeles" style="width:100%;">
                <div class="carousel-caption">
                    <h1>Los Angeles</h1>
                    <h2>Disponibilidad de tickets</h2>
                    <h3>Fecha del evento</h3>
                </div>
            </div>

            <div class="item">
                <img src="https://3.bp.blogspot.com/-jrYsBrw3oQ0/UjjdbCH5X1I/AAAAAAAAM7M/Zvr9tPJar58/s1600/Descargar+pack+fondos+abstractos++%2528190%2529.jpg" alt="Chicago" style="width:100%;">
                <div class="carousel-caption">
                    <h1>Chicago</h1>
                    <p>Thank you, Chicago!</p>
                </div>
            </div>

            <div class="item">
                <img src="https://3.bp.blogspot.com/-jrYsBrw3oQ0/UjjdbCH5X1I/AAAAAAAAM7M/Zvr9tPJar58/s1600/Descargar+pack+fondos+abstractos++%2528190%2529.jpg" alt="New York" style="width:100%;">
                <div class="carousel-caption">
                    <h3>New York</h3>
                    <p>We love the Big Apple!</p>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="panel panel-default" >
        <div class="panel-heading"><h1>Eventos</h1></div>
        <div class="panel-body" data-bind="foreach: eventos">
            <div class="container well" style="height: 200px;width: 300px; margin: 10px; float: left;">
                <label class="label label-default" style="font-size: 20px;" data-bind="text: Fecha"></label>
                <label></label>
                <label style="float:unset">Entradas disponibles<span class="badge" data-bind="text: Entradas"></span></label>
                <label>Lugar: </label>
                <label class="label-info" data-bind="text: Localidad"></label>
                <h5 data-bind="text: Descripcion"></h5>
            </div>
        </div>
       
    </div>
</div>