﻿@{
    ViewBag.Title = "Staff";
}
@section scripts{
    @Scripts.Render("~/bundles/ViewModelStaff")
}
<div class="page-header">
    <h2>Staff</h2>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Disponibles</h4>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Staff</th>
                            <th>Costo</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: staffs">
                        <tr>
                            <td data-bind="text: StaffId"></td>
                            <td data-bind="text: Trabajador"></td>
                            <td data-bind="text: Costo"></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-warning"
                                            data-bind="click: $root.cargar">
                                        Editar
                                    </button>
                                    <button class="btn btn-danger"
                                            data-bind="click: $root.eliminar">
                                        Eliminar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr><td><h5>Staff Eventto</h5></td></tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--PANEL AGREGAR-->
        <div class="panel panel-default" data-bind="ifnot: cargado()">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Agregar</h4>
                </div>
            </div>
            <div class="panel-body">
                <h4>Formulario</h4>
                <form data-bind="submit: agregar">
                    <div class="form-group">
                        <label for="inputTrabajador">Trabajador</label>
                        <input type="text"
                               class="form-control"
                               name="inputTrabajador"
                               id="inputTrabajador"
                               data-bind="value: nuevo.Trabajador" />
                        <label for="inputCosto">Costo</label>
                        <input type="number"
                               class="form-control"
                               name="inputCosto"
                               id="inputCosto"
                               data-bind="value: nuevo.Costo" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        <!--FIN PANEL AGREGAR-->
        <!--PANEL EDITAR-->
        <div class="panel panel-warning"
             data-bind="if: cargado()">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Editar</h4>
                </div>
            </div>
            <div class="panel-body">
                <h4>Formulario</h4>
                <form data-bind="submit: editar">
                    <div class="form-group">
                        <label for="inputId">Id</label>
                        <input type="text" class="form-control"
                               name="inputId" id="inputId"
                               data-bind="value: cargado().StaffId" />
                    </div>
                    <div class="form-group">
                        <label for="inputTrabajador">Trabajador</label>
                        <input type="text"
                               class="form-control"
                               name="inputTrabajador"
                               id="inputTrabajador"
                               data-bind="value: cargado().Trabajador" />
                        <label for="inputCosto">Costo</label>
                        <input type="number"
                               class="form-control"
                               name="inputCosto"
                               id="inputCosto"
                               data-bind="value: cargado().Costo" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Editar</button>
                        <button type="button" class="btn btn-warning" data-bind="click: $root.cancelar">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <!--FIN PANEL EDITAR-->
    </div>
</div>