﻿
@{
    ViewBag.Title = "TIpoBoleto";
}
@section scripts{
    @Scripts.Render("~/bundles/ViewModelTB")
}
<div class="page-header">
    <h2>Tipos Boletos</h2>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-primary panel-lista-contacto">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Disponibles</h4>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover tabla-contato">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descripcion</th>
                            <th>Opcioes</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: tipos">
                        <tr>
                            <td data-bind="text: TipoBoletoId"></td>
                            <td data-bind="text: Descripcion"></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-warning"
                                            data-bind="click: $root.cargar">
                                        Editar
                                    </button>
                                    <button class="btn btn-danger"
                                            data-bind="click: $root.eliminar">
                                        Eliminar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr><td><h5>TiposEventto</h5></td></tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--PANEL AGREGAR-->
        <div class="panel panel-default"
             data-bind="ifnot: tipoCargado()">

            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Agregar</h4>
                </div>
            </div>
            <div class="panel-body">
                <h4>Formulario</h4>
                <form data-bind="submit: agregar">
                    <div class="form-group">
                        <label for="inputDescripcion">Descripcion</label>
                        <input type="text"
                               class="form-control"
                               name="inputDescripcion"
                               id="inputDescripcion"
                               data-bind="value: tipoNuevo.Descripcion" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        <!--FIN PANEL AGREGAR-->
        <!--PANEL EDITAR-->
        <div class="panel panel-warning"
             data-bind="if: tipoCargado()">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Editar</h4>
                </div>
            </div>
            <div class="panel-body">
                <h4>Formulario</h4>
                <form data-bind="submit: editar">
                    <div class="form-group">
                        <label for="inputId">Id</label>
                        <input type="text" class="form-control"
                               name="inputId" id="inputId"
                               data-bind="value: tipoCargado().TipoBoletoId" />
                    </div>
                    <div class="form-group">
                        <label for="inputDescripcion">Descripcion</label>
                        <input type="text"
                               class="form-control"
                               name="inputDescripcion"
                               id="inputDescripcion"
                               data-bind="value: tipoCargado().Descripcion" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Editar</button>
                        <button type="button" class="btn btn-warning" data-bind="click: $root.cancelar">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <!--FIN PANEL EDITAR-->
    </div>
</div>