﻿@{
    ViewBag.Title = "Usuario";
}
@section scripts{
    @Scripts.Render("~/bundles/ViewModelUser")
}
<div class="page-header">
    <h2>Usuarios</h2>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-primary panel-lista-contacto">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Disponibles</h4>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover tabla-contato">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>NICK</th>
                            <th>Contraseña</th>
                            <th>Rol</th>
                            <th>Opcioes</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: users">
                        <tr>
                            <td data-bind="text: UsuarioId"></td>
                            <td data-bind="text: Nick"></td>
                            <td data-bind="text: Contrasena"></td>
                            <td data-bind="text: Rol.Descripcion"></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-danger"
                                            data-bind="click: $root.eliminar">
                                        Eliminar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr><td><h5>Usuarios Eventto</h5></td></tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--PANEL AGREGAR-->
        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Agregar</h4>
                </div>
            </div>
            <div class="panel-body">
                <h4>Formulario</h4>
                <form data-bind="submit: agregar">
                    <div class="form-group">
                        <label for="inputNick">Usuario</label>
                        <input type="text"
                               class="form-control"
                               name="inputNick"
                               id="inputNick"
                               data-bind="value: nuevo.Nick" />
                        <label for="inputContrasena">Contrasena</label>
                        <input type="text"
                               class="form-control"
                               name="inputContrasena"
                               id="inputContrasena"
                               data-bind="value: nuevo.Contrasena" />
                        <label for="inputDescripcion">Rol</label>
                        <select class="form-control" data-bind="options: roles,
                            optionsText: 'Descripcion',
                            value: nuevo.Rol"></select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        <!--FIN PANEL AGREGAR-->
    </div>
</div>