﻿@{
    ViewBag.Title = "Ventas";
}
@section scripts{
    @Scripts.Render("~/bundles/ViewModelVentas")
}
<div class="page-header">
    <h2>Staff</h2>
</div>
<div class="row">
    <div class="col-md-10">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#v">Ventas</a></li>
            <li><a data-toggle="tab" href="#v1">Estadisticas</a></li>
        </ul>

        <div class="tab-content">
            <div id="v" class="tab-pane fade in active">
                <div class="page-header">
                    <h2>Ventas</h2>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h4>Escoga el mes y el año</h4>
                                    <form data-bind="submit: generarGraficaFac">
                                        <div class="form-group">
                                            
                                            <button type="submit" class="btn btn-default">Generar Grafo</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Cliente</th>
                                            <th>Total</th>
                                            <th>Transaccion</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: facturas">
                                        <tr>
                                            <td data-bind="text: FacturaId"></td>
                                            <td data-bind="text: Cliente"></td>
                                            <td data-bind="text: Total"></td>
                                            <td data-bind="text: Transaccion"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr><td><h5>Facturas Eventto</h5></td></tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!--PANEL Grafocp-->
                        <div class="panel panel-default" data-bind="">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h4 data-bind="">Grafico </h4>
                                    <div class="panel-body">
                                        <div>
                                            <canvas id="myChart" width="400" height="400"></canvas>
                                        </div>                 
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                
                            </div>
                        </div>
                        
                        <!--FIN PANEL grafico-->
                    </div>
                </div>
            </div>
            <div id="v1" class="tab-pane fade">
                <h3>Top ventas</h3>
                <div class="well">
                    <label class="form-group">Evento Mas vendido</label><span class="label label-info" data-bind="text: top.topEvento()"></span>
                </div>
                <div class="well">
                    <label class="form-group">Tickets vendidos</label><span class="label label-danger" data-bind="text: top.topBoleto()"></span>
                </div>
            </div>
        </div>
    </div>
</div>