﻿@{

}
@section scripts{
    @Scripts.Render("~/bundles/Login")
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body background="http://www.bonacuisinecatering.com/bcccabo/content/images/eventosImage1.JPG">
    <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4" >
                    <div class="panel" style="margin-top: 10%">
                        <button class="btn btn-primary" style="margin-left: 20%" data-bind="click: eIngresa">Iniciar Session</button>
                        <button class="btn btn-default" style="margin-right: 10%" data-bind="click: $root.eRegistra">Registrarse</button>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            
            <div class="panel panel-default" data-bind="if: bLogin">
                <h1>Login</h1>
                <form data-bind="submit: ingresar">
                    <div class="form-group">
                        <label>Nick</label>
                        <input type="text" class="form-control" placeholder="user" name="inputNick" id="inputNick" data-bind="value: nick" />
                    </div>
                    <div class="form-group">
                        <label>Contrasena</label>
                        <input class="form-control" placeholder="Contrasena" type="password"
                               name="inputContrasena" id="inputContrasena" data-bind="value: contrasena" />
                    </div>
                    <div class="alert-success" data-bind="if: error">
                        <strong>Credenciales erroneas !</strong>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                    </div>
                </form>
            </div>
            <div class="panel panel-default" data-bind="if: bRegistrar">
                <h1>Registrarse</h1>
                <form data-bind="submit: registrar">
                    <div class="form-group">
                        <label>Nick</label>
                        <input type="text" class="form-control" placeholder="user" name="inputNick" id="inputNick" data-bind="value: nick" />
                    </div>
                    <div class="form-group">
                        <label>Contrasena</label>
                        <input class="form-control" placeholder="Contrasena" type="password"
                               name="inputContrasena" id="inputContrasena" data-bind="value: contrasena" />
                    </div>
                    <div class="alert-success" data-bind="if: error">
                        <strong>Credenciales erroneas !</strong>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                    </div>
                </form>
            </div>
    </div>
</body>
</html>